# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
#/fin-mgmt/src/main/resources/application-prod.properties
#/fin-mgmt/src/main/resources/application-dev.properties
