.role-form {


  .check-tree {
    border: none;
    border-width: 1px !important;
    border-left: 1px #ccc solid !important;
  }

  .role-title{
    color: white;
  }

  .permission-title{
    color: white;
    margin-left: 43%;
  }

}
