$datepanel-border-width: dynamic(2px);
$datepanel-border-radius: dynamic(null);
$datepanel-footer-height: dynamic(44px);
$datepanel-cell-color: dynamic(#222222);
$datepanel-selected-cell-background-color: dynamic(#62a3da);
$datepanel-header-cell-color: dynamic(#545454);
$datepanel-header-cell-background-color: dynamic(#f0f0f0);
$datepanel-header-cell-font-weight: dynamic(normal);
$datepanel-prev-month-color: dynamic(#d6d6d6);
$datepanel-next-month-color: dynamic(#d6d6d6);
$datepanel-special-date-background-color: dynamic(#dfedf8);
