.#{$prefix}tabbar-body-el {
    overflow: visible; // tab badges may overflow

    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
}

.#{$prefix}strip-el {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}